html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 650vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.full{
    margin-top: 30px;
    width: 95%;
    height: 95%;
    border: 1px solid #949494;
    border-radius: 30px;
}
.b1{
    border-top-right-radius: 30px;
}
.one, .two {
    width: 100%;
    height: 15vh;
    border-bottom: 1px solid #949494;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 10%;
    height: 100%;
    background-color: white;
    transition: background-color 0.5s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn{
    text-decoration: none;
    color: black;
    padding: 100%;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-left: 40px;
}
svg{
    width: auto;
    height: 30px;
    transition: transform 0.3s ease;
}
.button:hover svg{
    transform: scale(1.2);
}
.button:hover {
    background-color: black;
    color: white;
}
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: transform 0.5s ease;
}
.button:hover::before {
    transform: translateX(100%);
}
.button:hover .btn{
    color: white;
}

@media only screen and (max-width: 600px) {
    .main{
        min-width: 320px;
    }
    h2{
        font-size: 24px;
    }
    .full{
        min-width: 70%;
    }
  .button {
    min-width: 30%;
  }
}
